/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

:root {
    --bool-primary: #ff6900;
    --bool-light-bg: #e0e0e0;
    --bool-dark: #1a1a1a;
    --bool-sale: #ff0000;
    --bool-eco: #008000;
}
/* #endregion common */

/* #region debug */
.debug * {
    border: 1px dashed black;
}

/* header */
.debug header {
    height: 60px;

}

/* main */
.debug main .container {
    height: 1000px;

    .card {
        height: 380px;
        width: 200px;

        .picture {
            height: 300px;
        }

        .brand, .name, .price_red, .price_old {
            height: 20px;
        }

        .favorite {
            width: 30px;
            height: 20px;
        }

        .sale, .sustainable {
            width: 30px;
            height: 15px;
        }


    }

}

/* footer */
.debug footer .container {
    height: 60px;
    
    .info, .socials {
        background-color: orange;
        height: 60px;
    }

}


/* #endregion debug */

/* #region utilities */
.container {
    width: 70%;
    margin: auto;
}

.d-flex {
    display: flex;
}

.list-unstyled {
    list-style: none;
}

/* #endregion utilities */


/* #region header */
header {
    background-color: var(--bool-primary);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 0.3rem 0;

    .container {
        align-items: center;
    }

    .gender, .logo, .links {
        width: calc(100% / 3);
    }

    .gender ul li {
        margin-right: 0.5rem;
    }

    .logo>img {
        height: 50px;
    }

    .links {
        justify-content: end;
        
        li {
            margin-left: 0.5rem;
        }
    }

}


/* #endregion header */

/* #region main */
main {
    .container {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        position: relative;
        width: 30%;
        margin: 3rem 0 1.5rem 0;

        .picture img:last-child {
            display: none;
        }

        &:hover .picture img:last-child {
            display: block;
        }

        &:hover .picture img:first-child {
            display: none;
        }

        .favorite {
            position: absolute;
            top: 3%;
            right: 0;
            padding: 0 0.3rem;
            font-size: 1.5rem;
            background-color: white;
        }

        .favorite:hover {
            color: red;
        }

        .sale, .sustainable {
            position: absolute;
            bottom: 70px;
            left: 0;
            color: white;
            padding: 0 0.2rem;
            font-size: 0.8rem;
        }

        .sale {
            background-color: var(--bool-sale);
        }

        .sustainable {
            left: 40px;
            background-color: var(--bool-eco);
        }

        .brand {
            font-size: 0.8rem;
        }

        .price_red {
            color: var(--bool-sale);
        }

        .price_old {
            text-decoration: line-through;
        }

    }

    .card.sweater .sustainable {
        left: 0;
    }


}


/* #endregion main */

/* #region footer */
footer {
    background-color: var(--bool-dark);
    padding: 1rem 0;

    .container {
        justify-content: space-between;
        align-items: center;
    }

    .info, .socials {
        width: calc(100% / 3);
    }

    h5 {
        font-size: 0.7rem;
        color: white;
    }

    .info li {
        font-size: 0.5rem;
    }

    .socials {
        flex-direction: column;
        align-items: end;
    }

    .socials li {
        margin-left: 0.3rem;
    }

}

/* #endregion footer */
